# Ignore data folders containing heavy audio files
data/
DNS-Challenge/datasets_fullband/
*.wav
*.tgz
*.tar.bz2
*.tar.gz

# Ignore Python cache and environment files
__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/

# Ignore IDE settings
.vscode/
.idea/